
<link rel="stylesheet " href="css/posts_style.css">

<!-- the posts -->
<div class="posts container mt-5">
    <h2 class="my-5">Search Results</h2>
    <ul>
        {{#each posts}}
        {{#if this.id}}
        <li id="a0" class="my-2">
            <div>
                <a href="/posts?id={{this.id}}" class="text-white" style="cursor:pointer;">
                    <label for="title"><span id="title">{{this.title}} - {{this.username}}</span></label>
                </a>
                <p>{{this.content}}</p>
                <label for="likes" class="likesNumber0">Likes: {{this.likes}} | Comments:
                    {{this.comments}}</label>
                <button class="px-3 py-1 mx-2" onclick="location.href='/posts?id={{this.id}}'">Comment</button>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>